<% @page_title = 'Deputado Federal' %>

<div class="hero-unit">
  <h3>Deputado Federal - <%= @deputado.nome_parlamentar %></h3>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      <h4>Dados do Deputado</h4>
      <div name="matricula">
        <span><strong>Matrícula: </strong></span><span><%= @deputado.matricula %></span>
      </div>
      
      <div name="nome_parlamentar">
        <span><strong>Nome parlamentar: </strong></span><span><%= @deputado.nome_parlamentar %></span>
      </div>

      <div name="nome">
        <span><strong>Nome completo: </strong></span><span><%= @deputado.nome %></span>
      </div>

      <div name="partido">
        <span><strong>Partido: </strong></span><span><%= link_to @deputado.partido, url(:organizacional, :partido, :sigla => @deputado.partido) %></span>
      </div>

      <div name="uf">
        <span><strong>UF: </strong></span><span><%= @deputado.uf %></span>
      </div>

      <div name="sexo">
        <span><strong>Sexo: </strong></span><span><%= @deputado.sexo.capitalize %></span>
      </div>
      
      <hr/>
      
      <h4>Endereço</h4>
      <div name="endereco">
        Praça dos Três Poderes - Câmara dos Deputados<br/>
        Gabinente: <%= @deputado.gabinete %> - Anexo: <%= @deputado.anexo %><br/>
        CEP: 70160-900 - Brasília - DF<br/>
      </div>
      
      <h4>Contato</h4>
      <div name="telefone">
        <span><strong>Telefone: </strong></span><span>(61) <%= @deputado.fone %></span>
      </div>
      
      <div name="email">
        <span><strong>e-mail: </strong></span><span><%= @deputado.email %></span>
      </div>
      
      <hr/>
      
      <h4>Períodos de exercício</h4>
      <div id="periodos_exercicio">
        <% @deputado.periodos_exercicio.each do |pe| %>
        <div>
          <span><strong>UF: </strong></span><span><%= pe['uf'] %></span>
        </div>
        <div>
          <span><strong>Situação: </strong></span><span><%= pe['situacao'] %></span>
        </div>
        <div>
          <span><strong>Data início: </strong></span><span><%= pe['data_inicio'] %></span>
        </div>
        <% unless pe['data_fim'].empty? %>
        <div>
          <span><strong>Data fim: </strong></span><span><%= pe['data_fim'] %></span>
        </div>
        <div>
          <span><strong>Causa fim exercício: </strong></span><span><%= pe['causa_fim_exercicio'] %></span>
        </div>
        <% end %>
        <br/>
        <% end %>
      </div>
      <% unless @deputado.filiacoes_partidarias.empty? %>
      <hr/>
      
      <h4>Filiações partidárias</h4>
      <div id="filiacoes_partidarias">
        <% @deputado.filiacoes_partidarias.each do |fp| %>
        <div>
          <span><strong>Partido anterior: </strong></span><span><%= fp['partido_anterior'] %></span>
        </div>
        <div>
          <span><strong>Partido posterior: </strong></span><span><%= fp['partido_posterior'] %></span>
        </div>
        <div>
          <span><strong>Data filiação partido posterior: </strong></span><span><%= fp['data_filiacao_partido_posterior'] %></span>
        </div>
        <br/>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="span4">
      <a href="<%= @deputado.url_foto %>">
        <img src="<%= @deputado.url_foto %>" alt="Foto do Deputado" class="deputado-foto">
      </a>
    </div>
  </div>
  <br/>
  <div>
    <%= link_to 'Comissões Titular', '/organizacional/comissoes/' + @deputado.id.to_s + '/titular', :class => 'btn btn-primary' %>
    <%= link_to 'Comissões Suplente', '/organizacional/comissoes/' + @deputado.id.to_s + '/suplente', :class => 'btn btn-primary' %>
  </div>
</div>
