<% @page_title = 'Comissão Parlamentar' %>

<div class="hero-unit">
  <h3>Comissão Parlamentar - <%= @comissao.sigla %></h3>
</div>

<div class="container">
  <div class="row">
    <div class="span10">
      <div name="sigla">
        <span><strong>Sigla: </strong></span><span><%= @comissao.sigla %></span>
      </div>
      
      <div name="nome">
        <span><strong>Nome: </strong></span><span><%= @comissao.nome %></span>
      </div>
      
      <hr/>
      
      <h4>Deputados</h4>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              Titulares (<%= @total_titulares %>)
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= data_table(:data => @deputados_titulares, :total => @total_titulares, :seed => 'deputado',
                :fields => [{:title => 'Nome', :name => 'nome_parlamentar'}],
                :detail_path => '/organizacional/deputado/', :field_id => 'id', :hide_pagination => true).html_safe %>
            </div>
          </div>
        </div>
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Suplentes (<%= @total_suplentes %>)
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= data_table(:data => @deputados_suplentes, :total => @total_suplentes, :seed => 'deputado',
                :fields => [{:title => 'Nome', :name => 'nome_parlamentar'}],
                :detail_path => '/organizacional/deputado/', :field_id => 'id', :hide_pagination => true).html_safe %>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js" type="text/javascript"></script>
