<% @page_title = 'Partidos Políticos' %>

<div class="hero-unit">
  <h3>Partidos Políticos</h3>
  <p>Relação dos Partidos políticos ativos e desativados.</p>
</div>

<div class="container">

  <% form_tag '/organizacional/partidos', :method => 'get', :id => 'form_consulta' do %>
    <div>
        <label for="situacao" class="short-label">Situação: </label>
        <select id="situacao_partido" name="situacao_partido" class="filter-component">
        <% ['Ativos', 'Extintos', 'Todos'].each do |situacao| %>
        <option value="<%= situacao %>"<%= ' selected' if params[:situacao_partido] == situacao %>><%= situacao %></option>
        <% end %>
        </select>
    </div>
    <div>
        <label for="tags" class="short-label">Partido: </label>
        <input type="text" id="tags" name="tags" value="<%= params[:tags] %>" class="filter-component" style="height: 28px;"/>
    </div>
    <div align="right" style="width: 500px">
        <button type="submit" class="btn">Consultar</button>
    </div>
  <% end %>


  <%
    fields = [{:title => 'Legenda', :name => '_id'}, {:title => 'Nome', :name => 'nome'}]
    fields << {:title => 'Situação', :name => 'situacao'} if params[:situacao_partido] == 'Todos'
  %>

  <%= data_table(:data => @partidos, :total => @total, :seed => 'partido',
      :fields => fields, :detail_path => 'partido/', :field_id => '_id').html_safe %>
</div>
