<% @page_title = 'Estatísticas'
   @estatistica_ativa = true %>
   
<br/><br/><br/>

<div class="pagination-centered">
  <h2>Res Publica</h2>
  <h3>Estatísticas</h3>
  <p class="lead">
    Dados estatísticos da Câmara e seus agentes.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="span3">
      <a href="<%= url :estatistica, :deputado_uf %>" class="btn subject-block">
        <h4>Deputados/UF</h4>
        <p align="justify">Gráfico com o total de Deputados Federais por Unidade Federativa.</p>
        <br/><br/><br/><br/>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>
    
    <div class="span3">
      <a href="<%= url :estatistica, :deputado_sexo %>" class="btn subject-block">
        <h4>Deputados/Sexo</h4>
        <p align="justify">Gráfico com o total de Deputados Federais por sexo.</p>
        <br/><br/><br/><br/>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>
    
    <div class="span3">
      <a href="<%= url :estatistica, :deputado_uf_sexo %>" class="btn subject-block">
        <h4>Deputados/UF/Sexo</h4>
        <p align="justify">Gráfico com o total de Deputados Federais por Unidade Federativa e sexo.</p>
        <br/><br/><br/><br/>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>
    
    <div class="span3">
      <a href="<%= url :estatistica, :deputado_partido_uf %>" class="btn subject-block">
        <h4>Deputados/Partido/UF</h4>
        <p align="justify">Gráfico com o total de Deputados Federais por Partido e Unidade Federativa.</p>
        <br/><br/><br/>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>    
  </div>

  <br/>
  
  <div class="row">
    <% APP[:tipos_proposicoes].each do |k, v| %>
    <div class="span3">
      <a href="<%= url :estatistica, :proposicoes, :sigla => k %>" class="btn subject-block">
        <h4>Proposições/<%= k %></h4>
        <p align="justify">Gráfico com a projeção das proposições do tipo <%= k %> por ano.</p>
        <br/><br/><br/><br/>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>
    <% end %>
  </div>
</div>
