<% @page_title = 'Proposições'
   @exibir_consulta = (params[:prop_tags] && !params[:prop_tags].empty?)
   @proposicoes_ativa = !@exibir_consulta %>
 
<% unless @exibir_consulta %>  
<br/><br/><br/>
<% end %>
<%= link_to 'Período', url(:proposicao, :proposicoes_periodo) %>
<div class="pagination-centered">
  <% unless @exibir_consulta %>
  <h2>Res Publica</h2>
  <h3>Consulta de Proposições</h3>
  <p class="lead">
    Consulte proposições criadas na Câmara dos Deputados. Aqui você pode encontrar as proposições dos tipos
    <%= tipos_proposicao %> e que tenham sido criadas no perído de <%= APP[:date_init_prop] %> a <%= APP[:date_end_prop] %> (<%= APP[:last_extraction_date] %>).
  </p>
  <% end %>
</div>

<div class="container">
  <% form_tag '', :method => 'get', :id => 'form_consulta' do %>
    <div align="center">
        <input type="text" id="prop_tags" name="prop_tags" value="<%= params[:prop_tags] %>" style="height: 28px; width: 500px;" autofocus/>
        <br/>
        <button type="submit" class="btn" style="width: 90px;" onclick="return propSearchValidation();">Consultar</button>
        <button type="button" class="btn" style="width: 90px;" onclick="cleanTextField('prop_tags');">Limpar</button>
    </div>
  <% end %>
  
  <% if @exibir_consulta %>
    <%= search_data_list(:data => @proposicoes, :total => @total).html_safe %>
  <% end %>
</div>
