<% @page_title = 'Proposiçao' %>

<div class="hero-unit">
  <h3>Proposição - <%= @proposicao.nome %></h3>
</div>

<div class="container">
  <% if @dados_prop[:url] || @dados_votacoes[:url] %>
  <div id="div_api_response" class="alert alert-block">
    <button type="button" class="close" data-dismiss="div_api_response" onclick="hideApiResponse();">&times;</button>
    <h4>Atenção!</h4>
    <% if @dados_prop[:url] %>
    Não foi possível carregar as informações complementares da proposição.
    Talvez a API de dados abertos da Câmara esteja indisponível no momento.<br/>
    URL do recurso: <%= link_to @dados_prop[:url], @dados_prop[:url] %>
    <% end %>
    
    <% if @dados_votacoes[:url] %>
    Não foi possível carregar as votações da proposição.
    Talvez a API de dados abertos da Câmara esteja indisponível no momento.<br/>
    URL do recurso: <%= link_to @dados_votacoes[:url], @dados_votacoes[:url].html_safe %>
    <% end %>
  </div>
  <% end %>

  <h4>Dados da Proposição</h4>
  <div name="nome">
    <span><strong>Nome: </strong></span><span><%= @proposicao.nome %></span>
  </div>
  
  <div name="tipo">
    <span><strong>Tipo: </strong></span><span><%= "#{@proposicao.sigla} - #{APP[:tipos_proposicoes][@proposicao.sigla.to_sym]}" %></span>
  </div>
  
  <div name="numero">
    <span><strong>Número: </strong></span><span><%= @proposicao.numero %></span>
  </div>
  
  <div name="ano">
    <span><strong>Ano: </strong></span><span><%= @proposicao.ano %></span>
  </div>
  
  <div name="ementa">
    <span><strong>Ementa: </strong></span><span><%= @dados_prop[:ementa] %></span>
  </div>
  
  <div name="explicacao_ementa">
    <span><strong>Explicação da ementa: </strong></span><span><%= @dados_prop[:explicacao_ementa] %></span>
  </div>
  
  <hr/>
  
  <h4>Dados Complementares</h4>
  <div name="apreciacao">
    <span><strong>Apreciação: </strong></span><span><%= @dados_prop[:apreciacao] %></span>
  </div>
  
  <div name="situacao">
    <span><strong>Situação: </strong></span><span><%= @dados_prop[:situacao] %></span>
  </div>
  
  <div name="data_apresentacao">
    <span><strong>Data da apresentação: </strong></span><span><%= @dados_prop[:data_apresentacao] %></span>
  </div>
  
  <div name="regime_tramitacao">
    <span><strong>Regime de tramitação: </strong></span><span><%= @dados_prop[:regime_tramitacao] %></span>
  </div>
  
  <div name="autor">
    <span><strong>Autor: </strong></span><span><%= perfil_autor_proposicao @proposicao.autor %></span>
  </div>
  
  <hr/>
  
  <h4>Último Despacho</h4>
  <div name="data_despacho">
    <span><strong>Data: </strong></span><span><%= @dados_prop[:data_despacho] %></span>
  </div>
  
  <div name="texto_despacho">
    <span><strong>Despacho: </strong></span><span><%= @dados_prop[:despacho] %></span>
  </div>  
  
  <% unless @dados_votacoes[:url] %>
  <hr/>
  <h4>Votações</h4>
  <% count = 0 %>
  <div class="accordion" id="accordion_votacoes">
  <% @dados_votacoes[:votacoes].each do |votacao| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_votacoes" href="#collapse<%= count += 1 %>">
          <div id="resumo">
            <span><strong>Resumo: </strong></span><span><%= votacao[:resumo] %></span><br/>
            <span><strong>Data: </strong></span><span><%= votacao[:data] %></span><br/>
            <span><strong>Hora: </strong></span><span><%= votacao[:hora] %></span><br/>
            <span><strong>Objeto de votação: </strong></span><span><%= votacao[:objeto_votacao] %></span>
          </div> [+/-]
        </a>
      </div>
      <div id="collapse<%= count %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <h5>Orientação da Bancada</h5>
          <div id="orientacao_bancada">
            <% votacao[:orientacao_bancada].each do |orientacao| %>
            <span><strong><%= orientacao[:sigla] %>: </strong></span><span><%= orientacao[:orientacao] %></span><br/>
            <% end %>
          </div>
          <h5>Votação</h5>
          <div id="votacao">
            <table id="dt_votacao_<%= count %>" border="1">
            <thead>
            <tr>
              <th>Deputado</th><th>Partido</th><th>Voto</th>
            </tr>
            </thead>
            <tbody>
            <% votacao[:votos].each do |voto| %>
              <tr>
                <td><%= voto[:deputado] %></td><td><%= voto[:partido] %></td><td><%= voto[:voto] %></td>
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>
  
  <hr/>
  
  <div>
    <%= link_to 'Baixar Inteiro Teor', @dados_prop[:link_inteiro_teor], :class => 'btn btn-primary', :id => 'link_inteiro_teor' %>
  </div>
</div>

<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js" type="text/javascript"></script>
