<% @page_title = 'Proposições'
  @proposicoes_ativa = true %>
 
<br/><br/><br/>

<div class="pagination-centered">
  <h2>Res Publica</h2>
  <h3>Proposições</h3>
  <p class="lead">
    Conheça as proposições apresentadas pelos deputados na Câmara. Aqui você pode encontrar as proposições dos tipos
    <%= tipos_proposicao %> e que tenham sido criadas no perído de <%= APP[:date_init_prop] %> a <%= APP[:date_end_prop] %> (<%= APP[:last_extraction_date] %>).
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="span3">
      <a href="<%= url :proposicao, :consulta %>" class="btn subject-block">
        <h4>Consulta de Proposições</h4>
        <p align="justify">Encontre as proposições apresentadas pelos deputados federais desde <%= APP[:date_init_prop] %>.</p>
        <br/><br/>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>
    
    <div class="span3">
      <a href="<%= url :proposicao, :proposicoes_periodo %>" class="btn subject-block">
        <h4>Novas Proposições</h4>
        <p align="justify">Veja quais foram as proposições apresentadas nos últimos dias.</p>
        <br/><br/><br/><br/>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>
  </div>
</div>
