<% @page_title = 'Proposições'
   @proposicoes_ativa = true %>
   
<br/><br/><br/>

<div class="pagination-centered">
  <h2>Res Publica</h2>
  <h3>Dados de Proposições</h3>
  <p class="lead">
    Consulte proposições criadas na Câmara dos Deputados. Aqui você pode encontrar as proposições dos tipos
    <%= tipos_proposicao %> e que tenham sido criadas no perído de <%= APP[:date_init_prop] %> a <%= APP[:date_end_prop] %> (<%= APP[:last_extraction_date] %>).
  </p>
</div>

<div class="container">
  <% form_tag '', :method => 'get', :id => 'form_consulta' do %>
    <div align="center">
        <input type="text" id="prop_tags" name="prop_tags" value="<%= params[:prop_tags] %>" style="height: 28px; width: 500px;" autofocus/>
        <br/>
        <button type="submit" class="btn" style="width: 90px;" onclick="return propSearchValidation();">Consultar</button>
        <button type="button" class="btn" style="width: 90px;" onclick="cleanTextField('prop_tags');">Limpar</button>
    </div>
    <div align="right" style="width: 500px">
       
    </div>
  <% end %>
</div>
