<% @page_title = 'Mapa do sítio' %>

<div class="hero-unit">
  <h3>Mapa do sítio</h3>
</div>

<div class="container">
  <%= link_to 'Início', url(:index) %>
  <ul>
    <li>
      <%= link_to 'Organizacional', url(:organizacional, :index) %>
      <ul>
        <li><%= link_to 'Partidos Políticos', url(:organizacional, :partidos) %></li>
        <li><%= link_to 'Bancadas', url(:organizacional, :bancadas) %></li>
        <li><%= link_to 'Comissões', url(:organizacional, :comissoes) %></li>
        <li><%= link_to 'Deputados', url(:organizacional, :deputados) %></li>
      </ul>
    </li>
    <li>
      <%= link_to 'Estatística', url(:estatistica, :index) %>
      <ul>
        <li><%= link_to 'Deputados/UF', url(:estatistica, :deputado_uf) %></li>
        <li><%= link_to 'Deputados/Sexo', url(:estatistica, :deputado_sexo) %></li>
        <li><%= link_to 'Deputados/UF/Sexo', url(:estatistica, :deputado_uf_sexo) %></li>
        <li><%= link_to 'Deputados/Partido/UF', url(:estatistica, :deputado_partido_uf) %></li>
        <% APP[:tipos_proposicoes].each_key do |tipo| %>
        <li><%= link_to "Proposicoes/#{tipo}", url(:estatistica, :proposicoes, :sigla => tipo) %></li>
        <% end %>
      </ul>
    </li>
    <li>
      <%= link_to 'Proposições', url(:proposicao, :index) %>
      <ul>
        <li><%= link_to 'Consulta de Proposições', url(:proposicao, :index) %></li>
      </ul>
    </li>
    <li>
      Outros
      <ul>
        <li><%= link_to 'Mapa do sítio', url(:mapa) %></li>
        <li><a href="http://www2.camara.leg.br/">Câmara dos Deputados<a/></li>
        <li><a href="https://github.com/aureliano/res-publica">Código-fonte<a/></li>
        <li><%= link_to 'Contato', url(:contato) %></li>
      </ul>
    </li>
    <li>
      Ajuda
      <ul>
        <li><%= link_to 'Log de versão', url(:changelog, :version => 'atual') %></li>
        <li>
          <%= link_to 'Sobre', url(:sobre) %>
          <ul>
            <li><%= link_to 'Missão',  url(:sobre) %></li>
            <li><%= link_to 'A Câmara',  url(:sobre) %></li>
            <li><%= link_to 'Colaboração',  url(:sobre) %></li>
            <li><%= link_to 'Licença', url(:sobre) %></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
